.default .match {
    border: 1px solid black;
}
.default .green, .default .won {
    color: green;
}
.default .red, .default .lost {
    color: red;
}
.default .blue {
    color: blue;
}
.default .rank, .default .entry-status, .default .tie-break {
    vertical-align: super;
    font-size: smaller;
}
