body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
form {
    line-height: 2em;
}
.status-selector {
    line-height: 1em;
}
p {
    margin: 1em 0;
}
p.matches {
    margin-top: 2em;
}
table {
    border-collapse: collapse;
}

.match {
    color: unset;
    text-decoration: unset;
    display: inline-block;
    padding: 12px;
    margin: 0 20px 20px 0;
}
/* the sets cell contains another table that already has some padding */
td.sets {
    padding: 0 !important;
}
