* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 8px;
    padding: 0;
}
form {
    line-height: 2em;
}
.status-selector {
    line-height: 1em;
}
p {
    margin: 1em 0;
}

.loader {
    width: 1em;
    height: 1em;
    border: 0.15em solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.outdated {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    margin: 0 -8px -8px;
    background-color: #ff8888;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.25em;
}
.outdated > div {
    flex-grow: 1;
}
.outdated .emoji {
    flex-grow: 0;
    font-size: 1.5em;
}
@media (min-width: 501px) {
    .outdated {
        flex-direction: row;
        font-size: 2.5em;
    }
    .outdated .emoji {
        font-size: 2em;
        padding-right: 0.5em;
    }
}

.paused {
    background-color: #ff8888;
}

.matches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 1.25em;
    max-width: 83.75em;
    margin-left: auto;
    margin-right: auto;
}

.match {
    /* because it's a link */
    color: unset;
    text-decoration: unset;
    padding: 0.75em;
}
.message {
    height: 1em;
    display: flex;
}
.team, .sets {
    display: flex;
    align-items: center;
}
.team {
    width: 100%;
}
.names {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.has-service, .set, .points {
    width: 1.3em;
    text-align: center;
}
.points {
    margin-left: 0.5em;
}
