* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
form {
    line-height: 2em;
}
.status-selector {
    line-height: 1em;
}
p {
    margin: 1em 0;
}

.loader {
    width: 1em;
    height: 1em;
    border: 0.15em solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    animation: rotation 1s linear infinite;
}
.opacity {
    opacity: 1;
    transition: opacity 0.2s;
}
.hidden {
    opacity: 0;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.outdated {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    background-color: #ff8888;
    display: flex;
}
.outdated > div {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-size: 1.25em;
}
.outdated .emoji {
    font-size: 1.5em;
}
@media (min-width: 501px) {
    .outdated > div {
        flex-direction: row;
        font-size: 2.5em;
    }
    .outdated .emoji {
        font-size: 2em;
        padding-right: 0.5em;
    }
}

.paused {
    background-color: #ff8888;
}

.matches {
    margin: 2em auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
    max-width: 1340px;
}
table {
    border-collapse: collapse;
}

.match {
    color: unset;
    text-decoration: unset;
    display: inline-block;
    padding: 12px;
}
.message {
    height: 1em;
}
.match table {
    width: 100%;
}
td.names {
    width: 100%;
}
/* the sets cell contains another table that already has some padding */
td.sets {
    padding: 0 !important;
}
