.website .status-selector {
    background-color: #ffffff;
    border: 1px solid #cc4e0e;
    border-radius: 2.5em;
    display: flex;
    font-size: 0.75em;
    justify-content: space-around;
    padding: 4px 0;
    width: 13.75rem;
}
.website .status-selector label {
    display: inline-block;
    background-color: #ffffff;    border-radius: 18px;
    color: #242424;
    padding: 0.5em 0.75em;
    cursor: pointer;
}
.website .status-selector label:has(input:checked)  {
    background-color: #cc4e0e;
    color: #ffffff;
    font-weight: bold;
}
.website .status-selector input {
    opacity: 0;
    position: absolute;
}

.website td {
    padding: 4px;
}
.website .team:not(:first-of-type) {
    border-top: 1px solid #e8e8e8;
}

.website .won {
    color: #242424;
    font-weight: bold;
}
.website .lost {
    color: #9f9f9f;
}

.website .match {
    box-shadow: 0 0 30px 0 #e1e1e1;
}
.website .match:not(:only-of-type):hover {
    opacity: 0.6;
}
.website .match-type {
    color: #cc4e0e;
    font-weight: bold;
}
.website .status {
    float: right;
    border: 1px solid #00503c;
    color: #00503c;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    min-width: 5em;
    padding: 0 0.5em;
    margin-left: 0.5em;
    text-align: center;
    text-transform: uppercase;
}
.website .court-name {
    color: #5b5b5b;
    font-variant: small-caps;
    font-weight: bold;
}
.website .round-label {
    color: #5b5b5b;
    font-variant: small-caps;
}
.website .duration {
    float: right;
    margin-left: 0.5em;
}

.website .names.won {
    padding-right: 1.5em;
    background: url(check.svg) no-repeat center right;
}
.website .name {
    font-weight: bold;
}
.website .name > * {
    vertical-align: middle;
}
.website .player {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    height: 2.25em;
    width: 2.25em;
}
.website .flag {
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #f8f8f8;
    height: 0.8125em;
    margin: 1.25em 0.5em 0.25em -0.25em;
    width: 1.1875em;
}
/* for doubles, hide the picture and remove the margin on the flag */
.website .name:not(:only-of-type) .player {
    display: none;
}
.website .name:not(:only-of-type) .flag {
    margin: unset;
}
.website .rank::before {
    content: "(";
}
.website .rank::after {
    content: ")";
}
.website .has-service.yes {
    color: transparent;
    background: url(ball.svg) center no-repeat;
}
.website .set {
    font-weight: bold;
}
.website .set:not(.won, .lost) {
    color: #cc4e0e;
}
.website .tie-break {
    vertical-align: super;
    font-size: smaller;
}
.website .points {
    color: #cc4e0e;
    font-weight: bold;
}
