/* Status selector */
.website .status-selector {
    background-color: #ffffff;
    border: 1px solid #cc4e0e;
    border-radius: 2.5em;
    display: flex;
    font-size: 0.75em;
    justify-content: space-around;
    padding: 4px 0;
    width: 13.75rem;
}
.website .status-selector label {
    display: inline-block;
    background-color: #ffffff;    border-radius: 18px;
    color: #242424;
    padding: 0.5em 0.75em;
    cursor: pointer;
}
.website .status-selector label:has(input:checked) {
    background-color: #cc4e0e;
    color: #ffffff;
    font-weight: bold;
}
.website .status-selector input {
    opacity: 0;
    position: absolute;
}

/* Match layout */
.website .match {
    box-shadow: 0 0 30px 0 #e1e1e1;
}
.website .match:not(:only-of-type):hover {
    opacity: 0.6;
}

/* Metadata */
.website .info-1, .website .info-2 {
    display: flex;
}
.website .match-type {
    color: #cc4e0e;
    font-weight: bold;
}
.website .match-date, .website .match-night:not(:empty) {
    margin-left: 0.3em;
}
.website .status {
    border: 1px solid #00503c;
    color: #00503c;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    min-width: 5em;
    padding: 0 0.5em;
    margin-left: auto;
    text-align: center;
    text-transform: uppercase;
}
.website .court-name {
    color: #5b5b5b;
    font-variant: small-caps;
    font-weight: bold;
}
.website .round-label {
    color: #5b5b5b;
    font-variant: small-caps;
}
.website .duration {
    margin-left: auto;
}
.website .round-label::before {
    content: "-";
    margin: 0 0.3em;
}
.website .teams-and-starting-at {
    display: flex;
}
.website .starting-at {
    display: flex;
    align-items: center;
    text-align: center;
}

/* Teams */
.website .teams {
    flex-grow: 1;
}
.website .team, .website .sets {
    display: flex;
    align-items: center;
}
.website .team {
    min-height: 3.2em;
    gap: 0.5em;
}
.website .team + .team {
    border-top: 1px solid #e8e8e8;
}
.website .won {
    color: #242424;
    font-weight: bold;
}
.website .lost {
    color: #9f9f9f;
}

/* Names */
.website .names {
    flex-grow: 1;
    overflow: hidden;
}
.website .names.won {
    padding-right: 1.5em;
    background: url(check.svg) no-repeat center right;
}
.website .name {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.website .player-image {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    height: 2.25em;
    width: 2.25em;
}
.website .flag {
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #f8f8f8;
    height: 0.8125em;
    /* margin: 1.25em 0.5em 0.25em -0.25em; */
    margin: 0;
    align-self: end;
    transform: translateX(-0.5em);
    width: 1.1875em;
}
.website .flag:hidden + .first-name {
    margin-left: 0.3em;
}
.website .last-name {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* for doubles, hide the picture and remove the margin on the flag */
.website .name:not(:only-of-type) .player-image {
    display: none;
}
.website .name:not(:only-of-type) .flag {
    margin: unset;
    align-self: unset;
    transform: unset;
    margin-right: 0.5em;
}
.website .rank, .website .entry-status {
    font-size: 0.75em;
    margin-left: 0.5em;
}
.website .rank::before, .website .entry-status::before {
    content: "(";
}
.website .rank::after, .website .entry-status::after {
    content: ")";
}
.website .rank, .website .entry-status {
    font-weight: normal;
}

/* Scores */
.won + .has-service, .lost + .has-service {
    display: none;
}
.website .has-service.yes {
    color: transparent;
    background: url(ball.svg) center no-repeat;
}
.website .set {
    font-weight: bold;
}
.website .set:not(.won, .lost) {
    color: #cc4e0e;
}
.website .tie-break {
    vertical-align: super;
    font-size: smaller;
}
.website .points {
    color: #cc4e0e;
    font-weight: bold;
}
