<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Roland-Garros{% endblock title %}</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/default.css">
    <link rel="stylesheet" href="/static/website.css">
    <link rel="stylesheet" href="/static/tv.css">
    <script defer src="/static/persist.min.js"></script>
    <script defer src="/static/cdn.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body x-data="{
    data: $persist({matches: [], hash: ''}){% if match_id %}.as('data-{{match_id}}'){% endif %},
    lastUpdate: $persist(0),
    style: $persist('website'),
    show_status: $persist('live'),
    interval: $persist(5),
    editing: false,
    intv: null,
    outdated_delay: null,
    match_page: {{ match }},
    async reload() {await fetch_data($data.data, () => $data.lastUpdate = new Date, $data.style)},
}" x-init="
        setInterval(() => outdated_delay = new Date - new Date(lastUpdate), 1000);
" x-effect="
        if(intv) {clearInterval(intv); intv = null;}
        if(interval > 0) {
            intv = setInterval(reload, interval * 1000);
            setTimeout(reload);
        }
    " :class="style">
    {% block body %}{% endblock %}
    <p x-data>
        <span x-text="'Dernière mise à jour : ' + format_date(new Date(lastUpdate))" x-show="data.matches"></span>
        <span class="opacity" :class="$store.loading ? '' : 'hidden'">Chargement...</span>
        <span class="loader opacity" :class="$store.loading ? '' : 'hidden'"></span>
        <div class="outdated opacity" :class="interval > 0 && new Date(lastUpdate) && outdated_delay > 30000 ? '' : 'hidden'">
            <div>
                <div class="emoji">⚠️</div>
                <div>
                    Données obsolètes
                    <span style="white-space: nowrap" x-text="'(' + format_small_duration(outdated_delay / 1000) + ')'"></span>
                    <br>
                    Veuillez vous reconnecter à Internet.
                </div>
            </div>
        </div>
    </p>
    <form action="javascript:;">
        <input type="button" value="Effacer les données" @click="clearInterval(intv); localStorage.clear(); location.reload()">
        Style :
        <label>
            <input type="radio" x-model="style" name="style" value="default">
            Par défaut
        </label>
        <label>
            <input type="radio" x-model="style" name="style" value="website" checked>
            Site Roland-Garros
        </label>
        <label>
            <input type="radio" x-model="style" name="style" value="tv">
            TV
        </label>
        <br>
        <label>
            Intervalle :
            <input type="number" min="0" step="1" size="5" x-model.number="interval">
            secondes
            <span class="paused opacity" :class="interval <= 0 ? '' : 'hidden'">⚠️ En pause</span>
        </label>
        <span class="status-selector" x-show="!match_page">
            <label>
                <input type="radio" x-model="show_status" name="status" value="finished">
                Terminés
            </label>
            <label>
                <input type="radio" x-model="show_status" name="status" value="live" checked>
                En cours
            </label>
            <label>
                <input type="radio" x-model="show_status" name="status" value="upcoming">
                À venir
            </label>
        </span>
        <label>
            Modification :
            <input type="checkbox" x-model="editing">
        </label>
    </form>
    <p class="matches">
        <template x-data x-for="match in data.matches">
            {% include "match_block.html" %}
        </template>
        <span
            x-show="
                !data.matches?.some(
                    match => match_page || show_status == (STATUSES_DISPLAY[match.matchData.status] || 'finished')
                )
            "
            >Aucun match</span>
    </p>
    <script>
        async function fetch_data(oldData, updated, style) {
            if(Alpine.store("loading")) return;
            Alpine.store("loading", true);
            try {
                var resp = await fetch(
                    {% block fetch_url %}"/polling"{% endblock fetch_url %}
                    + "?" + new URLSearchParams({style: style, hash: oldData?.hash})
                );
            } finally {
                Alpine.store("loading", false);
            }
            updated();
            try {
                var data = await resp.json();
                if(!data) return;
            } catch(e) {return;}
            if(Array.isArray(data) && (data.length == 1 || data.length == 2)) {
                function recursive_edit(data, diff, del = false) {
                    if(!diff) return;
                    for(key in diff) {
                        // JSON only has string keys
                        key = isNaN(+key) ? key : +key;
                        // https://stackoverflow.com/a/8511350
                        if(typeof diff[key] == "object" && diff[key] != null) {
                            if(!data[key]) data[key] = {};
                            recursive_edit(data[key], diff[key], del);
                        } else {
                            if(del)
                                delete data[key];
                            else
                                data[key] = diff[key];
                        }
                    }
                }
                recursive_edit(oldData, data[0]);
                if(data[1]) recursive_edit(oldData, data[1], true);
            } else {
                for(var key in data)
                    oldData[key] = data[key];
            }
        }
    </script>
</body>
</html>