<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Roland-Garros{% endblock title %}</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/default.css">
    <link rel="stylesheet" href="/static/website.css">
    <link rel="stylesheet" href="/static/tv.css">
    <script defer src="/static/cdn.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body x-data="{ style: 'website', show_status: 'live', interval: 5, intv: null, outdated_delay: null, match_page: {{ match }} }" x-init="
        setInterval(() => outdated_delay = new Date - $store.lastUpdate, 1000);
" x-effect="
        if(intv) {clearInterval(intv); intv = null;}
        if(interval > 0) {
            intv = setInterval(() => fetch_data(style), interval * 1000);
            setTimeout(() => fetch_data(style));
        }
    " :class="style">
    {% block body %}{% endblock %}
    <p x-data>
        <span x-text="'Dernière mise à jour : ' + format_date($store.lastUpdate)" x-show="$store.data.matches"></span>
        <span class="opacity" :class="$store.loading ? '' : 'hidden'">Chargement...</span>
        <span class="loader opacity" :class="$store.loading ? '' : 'hidden'"></span>
        <div class="outdated opacity" :class="interval > 0 && outdated_delay > 30000 ? '' : 'hidden'">
            <div>
                <div class="emoji">⚠️</div>
                <div>
                    Données obsolètes
                    <span style="white-space: nowrap" x-text="'(' + format_small_duration(outdated_delay / 1000) + ')'"></span>
                    <br>
                    Veuillez vous reconnecter à Internet.
                </div>
            </div>
        </div>
    </p>
    <form action="javascript:;">
        Style :
        <label>
            <input type="radio" x-model="style" name="style" value="default">
            Par défaut
        </label>
        <label>
            <input type="radio" x-model="style" name="style" value="website" checked>
            Site Roland-Garros
        </label>
        <label>
            <input type="radio" x-model="style" name="style" value="tv">
            TV
        </label>
        <br>
        <label>
            Intervalle :
            <input type="number" min="0" step="1" size="5" x-model.number="interval">
            secondes
            <span class="paused opacity" :class="interval <= 0 ? '' : 'hidden'">⚠️ En pause</span>
        </label>
        <span class="status-selector" x-show="!match_page">
            <label>
                <input type="radio" x-model="show_status" name="status" value="finished">
                Terminés
            </label>
            <label>
                <input type="radio" x-model="show_status" name="status" value="live" checked>
                En cours
            </label>
            <label>
                <input type="radio" x-model="show_status" name="status" value="upcoming">
                À venir
            </label>
        </span>
    </form>
    <p class="matches">
        <template x-data x-for="match in $store.data.matches">
            {% include "match_block.html" %}
        </template>
        <span
            x-show="
                !$store.data.matches.filter(
                    match => match_page || show_status == (STATUSES_DISPLAY[match.matchData.status] || 'finished')
                ).length
            "
            >Aucun match</span>
    </p>
    <script>
        document.addEventListener("alpine:init", function() {
            Alpine.store("data", {matches: [], hash: ""});
        });
        async function fetch_data(style) {
            if(Alpine.store("loading")) return;
            Alpine.store("loading", true);
            var resp = await fetch(
                {% block fetch_url %}"/polling"{% endblock fetch_url %}
                + "?" + new URLSearchParams({style: style, hash: Alpine.store("data").hash})
            );
            Alpine.store("loading", false);
            Alpine.store("lastUpdate", new Date);
            try {
                var data = await resp.json();
                if(!data) return;
            } catch(e) {return;}
            if(Array.isArray(data) && (data.length == 1 || data.length == 2)) {
                var oldData = Alpine.store("data");
                function recursive_edit(data, diff, del = false) {
                    if(!diff) return;
                    for(key in diff) {
                        // JSON only has string keys
                        key = isNaN(+key) ? key : +key;
                        // https://stackoverflow.com/a/8511350
                        if(typeof diff[key] == "object") {
                            if(!data[key]) data[key] = {};
                            recursive_edit(data[key], diff[key], del);
                        } else {
                            if(del)
                                delete data[key];
                            else
                                data[key] = diff[key];
                        }
                    }
                }
                recursive_edit(oldData, data[0]);
                if(data[1]) recursive_edit(oldData, data[1], true);
                data = oldData;
                if(!data.matches) data.matches = [];
            }
           Alpine.store("data", data);
        }
    </script>
</body>
</html>