<a class="match" x-show="match_page || show_status == (STATUSES_DISPLAY[matchData.status] || 'finished')" x-data="{ matchData: match.matchData }" :href="match_page ? '#' : '/match/' + match.id" @click="(match_page || editing) && $event.preventDefault()">
    <div class="info-1">
        <span class="left"><!--
            --><span class="match-type" x-text="matchData.typeLabel"></span><!--
            --><span class="match-date" x-show="style != 'website' && matchData.dateSchedule" x-text="format_rg_date(matchData.dateSchedule)"></span><!--
            --><span class="match-night" x-text="matchData.isNightSession ? '🌙' : ''"></span><!--
        --></span>
        <span class="status" x-text="STATUSES_LABELS[matchData.status || 'FINISHED'] || matchData.status" :class="STATUSES_COLORS[matchData.status || 'FINISHED'] || 'red'"></span>
    </div>
    <div class="info-2">
        <span class="left"><!--
            --><span class="court-name" x-text="matchData.courtName"></span><!--
            --><span class="round-label" x-text="matchData.roundLabel"></span><!--
        --></span>
        <span class="duration" x-show="matchData.durationInMinutes" x-text="format_duration(matchData.durationInMinutes, style == 'website')"></span>
    </div>
    <div class="message">
        <span x-text="get_match_status(matchData, match.teamA, match.teamB, matchData.type == 'SM' ? 3 : 2)"></span>
    </div>
    <div class="teams-and-starting-at">
        <div class="teams">
            <template x-data="{ teams: [match.teamA, match.teamB] }" x-for="(team, i) in teams">
                <div class="team">
                    <div class="has-service" x-show="style != 'website'" :class="team.hasService ? 'yes' : ''" x-text="team.hasService ? '//' : ''"></div>
                    <div class="names" :class="winner_class(team, match)">
                        <template x-data="{ players: team.players }" x-for="player in players">
                            <div class="name" @click="interval = 0; score_point(team, i ? match.teamA : match.teamB, match.matchData.type == 'QM' ? 3 : 2)"><!--
                                --><img x-show="style == 'website'" class="player-image" :src="'/static/player/' + player.id + '?s=' + $el.clientWidth"><!--
                                --><img x-show="style == 'website' && player.country" class="flag" :alt="player.country" :title="player.country" :src="'/static/flag/' + player.country"><!--
                                --><span class="first-name" x-text="style == 'website' ? format_first_name(player) : player.firstName + ' '" :title="style == 'website' ? player.firstName : ''"></span><!--
                                --><span class="last-name" x-text="format_last_name(player)" :title="style == 'tv' ? player.firstName + ' ' + player.lastName : ''"></span><!--
                                --><span class="rank" x-show="team.seed" x-text="team.seed"></span><!--
                                --><span class="entry-status" x-show="team.entryStatus" x-text="team.entryStatus"></span>
                            </div>
                        </template>
                    </div>
                    <div class="has-service" x-show="style == 'website'" :class="team.hasService ? 'yes' : ''" x-text="team.hasService ? '//' : ''"></div>
                    <div class="sets">
                        <template x-for="set in team.sets">
                            <div class="set" :class="winner_class(set)">
                                <span class="number" x-text="set.score"></span><!--
                                --><span class="tie-break" x-show="set.tieBreak" x-text="set.tieBreak"></span>
                            </div>
                        </template>
                    </div>
                    <div class="points" x-show="matchData.status == 'IN_PROGRESS'" x-text="team.points"></div>
                    <div class="end-cause" x-show="matchData.endCause" x-text="ENDCAUSES_LABELS[matchData.endCause] || matchData.endCause"></div>
                </div>
            </template>
        </div>
        <div
            class="starting-at"
            x-show="matchData.notBefore || matchData.startingAt"
            x-text="matchData.notBefore ? 'Pas avant ' + matchData.notBefore : matchData.startingAt ? 'À partir de ' + matchData.startingAt : ''"
        ></div>
    </div>
</a>
