<div class="match" x-data="{ matchData: match.matchData, status: match.matchData.status }">
    <div>
        <span x-text="matchData.typeLabel"></span> -
        <span x-text="matchData.roundLabel"></span> -
        <span x-text="matchData.isNightSession ? '🌙' : '☀️'"></span>
        <a :href="'/match/' + match.id" x-show="!Alpine.store('nolinks')">Voir plus de détails</a>
    </div>
    <div>
        <span x-text="matchData.courtName"></span>
        (<!--
            --><span x-text="STATUSES_LABELS[status] || status" :class="STATUSES_COLORS[status] || 'red'"></span><!--
            --><span x-show="matchData.dateSchedule" x-text="' - ' + format_rg_date(matchData.dateSchedule)"></span><!--
            --><span x-show="matchData.notBefore" x-text="' - Pas avant ' + matchData.notBefore"></span><!--
            --><span x-data="{ duration: matchData.durationInMinutes }" x-show="duration" x-text="' - ' + format_duration(duration)"></span><!--
        -->)
    </div>
    <table>
        <template x-data="{ teams: [match.teamA, match.teamB] }" x-for="team in teams">
            <tr class="team">
                <td class="has-service" x-text="team.hasService ? '//' : ''"></td>
                <td class="names" :class="winner_class(team, match)">
                    <template x-data="{ players: team.players }" x-for="player in players">
                        <div class="name" x-text="format_player_name(player)"></div>
                    </template>
                </td>
                <td>
                    <span class="rank" :class="winner_class(team, match)" x-show="team.seed" x-text="team.seed"></span>
                </td>
                <template x-for="set in team.sets">
                    <td class="set" x-data="{ tieBreak: set.tieBreak, score: set.score }" :class="winner_class(set)">
                        <span class="tie-break" x-show="tieBreak" x-text="tieBreak"></span><!--
                        --><span class="number" x-text="score"></span>
                    </td>
                </template>
                <td class="points" x-show="matchData.status == 'IN_PROGRESS'" x-text="team.points"></td>
                <td class="end-cause" x-data="{ endCause: matchData.endCause }" x-show="endCause" x-text="ENDCAUSES_LABELS[endCause] || endCause"></td>
            </tr>
        </template>
    </table>
    <br>
</div>
